/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
        url('../fonts/roboto-v27-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v27-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''),
        url('../fonts/roboto-v27-latin_cyrillic-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v27-latin_cyrillic-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''),
        url('../fonts/roboto-v27-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/roboto-v27-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}
body {
  background: #FAFAFA;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  height: 100%;
  padding-top: 88px;
  background: #FAFAFA;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 573px;
  height: 414px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 175px;
  height: 175px;
  background-image: url('../img/avatar_cameron.png');
  border-radius: 228px;
  order: 0;
  flex-grow: 0;
  margin-bottom: 40px;
}

.user-info {
  width: 573px;
  height: 199px;
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 1;
}

.user-name {
  width: 573px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  order: 0;
  align-self: stretch;
}

.user-location {
  width: 573px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.54);
  order: 1;
  align-self: stretch;
  margin: 8px 0px;
}

.user-status {
  width: 573px;
  height: 60px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: rgba(0, 0, 0, 0.68);
  order: 2;
  align-self: stretch;
}

.btn {
  flex: none;
  order: 3;
  flex-grow: 0;
  width: 573px;
  height: 48px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 19px;
}

.btn-edit, .btn-follow, .btn-message {
  width: 99px;
  height: 48px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-follow {
  width: 117px;
}

.btn-message {
  width: 136px;
}

.btn-message {
  background: #E33D65;
  color: #FFFFFF;
  margin-left: 19px;
}

.friends-number {
  width: 1170px;
  height: 32px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin: 56px auto 22px auto;
}

.friends {
  width: 81px;
  height: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  order: 0;
  margin: 0px 8px 0 0;
}

.number-of-friends {
  width: 28px;
  height: 32px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.32);
  order: 1;
}

.friends-table {
  width: 1170px;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.friend {
  width: 374px;
  height: 108px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  margin-bottom: 24px;
}

.friend-data {
  width: 242px;
  height: 48px;
  display: flex;
  margin: 30px 16px 30px 0;
  flex-direction: column;
  align-items: center;
}

.friend-data span:nth-child(1) {
  width: 242px;
  height: 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  order: 0;
  margin: 0 0 8px 0px;
}

.friend-data span:nth-child(2) {
  width: 242px;
  height: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.54);
  order: 1;
}

.avatar-6 {
  background: url('../img/avatar_6.jpg') no-repeat;
  background-size: contain;
  width: 175px;
  height: 175px;
  border-radius: 228px;
  order: 0;
  flex-grow: 0;
  margin-bottom: 40px;  
}

.avatar-thumb {
  width: 76px;
  height: 76px;
  margin: 16px 24px 16px 16px;
  background-size: contain;
}

.friend-1 .avatar-thumb {
  background-image: url('../img/preview_jane.png');
}

.friend-2 .avatar-thumb {
  background-image: url('../img/preview_theresa.png');
}

.friend-3 .avatar-thumb {
  background-image: url('../img/preview_kathryn.png');
}

.friend-4 .avatar-thumb {
  background-image: url('../img/preview_floyd.png');
}

.friend-5 .avatar-thumb {
  background-image: url('../img/preview_annette.png');
}

.friend-6 .avatar-thumb {
  background-image: url('../img/preview_savannah.png');
}

.friend-7 .avatar-thumb {
  background-image: url('../img/preview_cameron.png');
}

.friend-8 .avatar-thumb {
  background-image: url('../img/preview_brooklin.png');
}

.friend-9 .avatar-thumb {
  background-image: url('../img/preview_albert.png');
}

/* messenger page */

.messenger__containter {
  width: 772px;
  height: 816px;
  margin: 1% auto;
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.messenger__head {
  display: flex;
  width: inherit;
  height: 96px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1px;
}

.messenger__avatar {
  background-image: url('../img/preview_kathryn.png');
  width: 48px;
  height: 48px;
  margin: 24px 16px 24px 24px;
  background-size: contain;
}

.messenger__target__user-name {
  height: 24px;
  width: 618px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
}

.messenger__btn-close {
  width: 27px;
  height: 27px;
  margin-right: 24px;
  background-image: url('../img/svg/btn-close.svg');
  background-size: contain;
}

.messenger__chat {
  width: inherit;
  height: 720px;
}

.messages {
  width: inherit;
  height: 614px;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

hr {
  width: 100%;
  color: rgba(0, 0, 0, 0.12);
  margin: 0;
  padding: 0;
}

.message__input__text:focus {
  outline: none;
} 

.message__input__send {
  width: 56px;
  height: 56px;
  background-image: url('../img/svg/send.svg');
  background-size: contain;
}

.message {
  width: inherit;
  height: 136px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.message__author-info {
  width: 724px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.message__author__avatar-thumb-1 {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background-image: url('../img/preview_kathryn.png');
  background-size: contain;
}

.message__author__avatar-thumb-2 {
  width: 32px;
  height: 32px;
  margin-right: 16px;
  background-image: url('../img/preview_cameron.png');
  background-size: contain;
}

.message__author__data {
  width: 674px;
}

.message__author__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
 }

 .message__date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: rgba(0, 0, 0, 0.32);
 }

 .message__text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
 }

 .message__input {
  margin: 0 24px;
  width: 724px;
  height: 104px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: flex-end;
}

.message__input__text {
  padding: 16px;
  width: 644px;
  height: 56px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

/* edit profile settings */

.settings__containter {
  width: 772px;
  height: 605px;
  margin: 104px auto 0 auto;
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
}

.settings__head {
  width: inherit;
  height: 80px;
  display: flex;
  padding: 28px 24px;
  justify-content: space-between;
  align-items: center;
}

.settings__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  width: 682px;
  height: 24px;
}

.settings__btn-close {
  width: 27px;
  height: 27px;
  background-image: url('../img/svg/btn-close.svg');
  background-size: contain;
}

.settings__main {
  width: inherit;
  height: 525px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid purple; */
}

.settings__avatar {
  width: 175px;
  height: 175px;
  background-image: url('../img/avatar_cameron.png');
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 228px;
  margin-bottom: 24px;
  flex-grow: 0;
  flex-shrink: 0;
}

.settings__btn-change-photo {
  width: 170px;
  height: 48px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  border: none;
  margin-bottom: 24px;
  flex-shrink: 0;
}

.setting__edit-parameter-name {
  width: 724px;
  height: 20px;
  margin-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}

.setting__states__input-text {
  width: 724px;
  height: 80px;
  padding: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  resize: none;
  margin-bottom: 24px;
}

.settings__footer {
  width: 772px;
  height: 96px;
  padding: 24px;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.settings__btn-cancel {
  width: 120px;
  height: 48px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  border: none;
  margin-right: 19px;
}

.settings__btn-save {
  width: 105px;
  height: 48px;
  background: #E33D65;
  border-radius: 8px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  border: none;
}

/* adaptive parameters */

@media (max-width: 1439px) {

  /* index */

  .user-profile {
    width: 608px;
  }  
  .friends-number {
    width: 608px;
  }
  
  .friends-table {
    width: 608px;
    height: auto;
    margin: 0 auto;
    flex-direction: column;
  }

  .friend {
    width: 608px;
    margin-bottom: 16px;
  }

  /* messenger */

  .messenger__containter {
    width: 768px;
    height: 1024px;
    margin: 5px auto 0 auto;
  }
  
  .messenger__head {
    width: 688px;
  }
  
  .messenger__chat {
    height: 928px;
  }
  
  .messages {
    width: 688px;
    height: 824px;
  }
  
  .message {
    padding: 24px 40px;
  }
  
   .message__text {
     width: 648px;
   }
  
   .message__input {
    margin: 0 24px;
    width: 720px;
  }
  
  .message__input__text {
    width: 608px;
  }

  /* settings */

  .settings__containter {
    width: 768px;
    height: 605px;
    margin: 1% auto 0 auto;
  }
  
  .settings__head {
    padding: 28px 40px;
  }
  
  .settings__title {
    width: 646px;
    height: 24px;
  }
  
  .setting__edit-parameter-name {
    width: 720px;
  }
  
  .setting__states__input-text {
    width: 720px;
  }
  
  .settings__footer {
    width: 768px;
    height: 96px;
  }
}

@media (max-width: 767px) {
  
  /* index */

  .user-profile {
    width: 328px;
    height: 434px;
  }
  
  .user-info {
    width: 328px;
    height: 219px;
  }
  
  .user-name {
    width: 328px;
  }
  
  .user-location {
    width: 328px;
  }
  
  .user-status {
    width: 328px;
    height: 80px;
  }
  
  .btn {
    width: 328px;
  }

  
  .friends-number {
    width: 328px;
    margin: 36px auto 22px auto;
  }
  
  .friends-table {
    width: 328px;
    height: auto;
    flex-direction: column;
  }
  
  .friend {
    width: 328px;
    height: 80px;
    margin-bottom: 16px;
  }
  
  .friend-data {
    width: 224px;
    height: 48px;
    margin: 18px 16px 18px 0;
  }
  
  .friend-data span:nth-child(1) {
    width: 224px;
    height: 20px;
    line-height: 20px;
    margin: 0 0 8px 0px;
  }
  
  .friend-data span:nth-child(2) {
    width: 224px;
    height: 16px;
  }
  
  .avatar-thumb {
    width: 48px;
    height: 48px;
  }

  /* messenger */

  .messenger__containter {
    width: 360px;
    height: 640px;
    margin: 0 auto;
  }
  
  .messenger__head {
    width: inherit;
    height: 72px;
  }
  
  .messenger__avatar {
    background-image: url('../img/preview_kathryn.png');
    width: 40px;
    height: 40px;
    margin: 16px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .messenger__target__user-name {
    width: 242px;
  }
  
  .messenger__chat {  
    height: 568px;
    width: 360px;
  }
  
  .messages {
    width: 360px;
    height: 464px;
  }
  
  .message {
    width: 328px;
    height: 184px;
    padding: 24px 16px;
  }
  
  .message__author-info {
    width: 328px;
  }
  
  .message__author__data {
    width: 280px;
  }
  
  .message__text {
    width: 328px;
    height: 96px;
   }
  
  .message__input {
    margin: 0 16px;
    width: 324px;
    height: 104px;
  }
  
  .message__input__text {
    padding: 16px;
    width: 256px;
    height: 56px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }

  .message__input__send {
    width: 56px;
    height: 56px;
    background-image: url('../img/svg/send.svg');
    background-size: contain;
  }

  /* settings */

  .settings__containter {
    width: 360px;
    height: 605px;
    margin: 1% auto 0 auto;
  }
  
  .settings__head {
    padding: 20px 16px;
  }
  
  .settings__btn-change-photo {
    margin-bottom: 16px;
  }

  .settings__title {
    width: 298px;
    height: 24px;
  }
  
  .settings__main {
    padding: 16px 24px 24px 24px;
  }

  .settings__avatar {
    margin-bottom: 16px;
  }

  .setting__edit-parameter-name {
    width: 312px;
  }
  
  .setting__states__input-text {
    width: 312px;
    height: 138px;
    padding: 10px 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }
  
  .settings__footer {
    width: 312px;
    height: 96px;
    padding: 0;
  }

}

.test1 {
  width: 1010px;
  height: 300px;
  border: 1px dotted red;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}